{% extends 'base.html' %}
{% load static %}

{% block content1 %}
<div class = "row-3" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.no</th>
            <th scope="col">Project-name</th>
          </tr>
        </thead>
        <tbody>
          <tr>  
            
            <th scope="row">1</th>
            <td>{{ project1 }}</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{ project2 }}</td>
          </tr>
        </tbody>
      </table>

</div>
<img src="{% static  "images/project-logo-removebg-preview.png"%}" alt="project-logo" style = "margin-left : 350px;">

    
    
{% endblock content1 %}